html{
    font-size : 100%;
    font-family : Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "Raleway"; 
    src: url("/Fonts/Raleway-VariableFont_wght.ttf") format("ttf"),
           /* url("/fonts/OpenSans-Regular-webfont.woff") format("woff"); */
   }
   
corps{
    margin : 0;
    box-sizing: border-box;
}

.gridcontainer{
    max-width : 1440px;
    margin : auto;
    padding : 0 2rem;
}

.milieu{
    columns: 2;
}

header{
    margin-bottom: 20 px;
}

.logoconteneur{
    display : flex;
    align-items: center;
}

.menu{
    display : grid;
    grid-template-columns: 60% auto auto auto;
}

.menu>a{
    display : flex;
    justify-content : center;
}

header a{
    flex-wrap: wrap;
    padding : 2.4vw 1.8vw 2.4vw 1.8vw;
    font-weight: 500 ;
    border-top: 2px solid white;
}

a:link, a:visited{
    text-decoration : none;
    color: black;
}
header a:hover, header a:active{
    text-decoration : none;
    border-top : 2px solid #0065FC ;
    color : #0065FC ;
}


.search bar {
    will-change : flex ;
    margin : 30px 0 30px 0 ;
}

.fa-map-marker-alt{
    background-color: #F2F2F2;
    border-image : 1rem 1,25rem;
    rayon de bordure : 1rem 0 0 1rem;
    text-align : center;
}

.connexion{
    color : #0065FC !important;
}

.search button{
    background-color : #0065FC;
    Color : white;
    font-weight : gras;
    border : none;
    rayon de bordure : 0 1rem 1rem 0;
    padding : 0 1.5rem;
    font-family : "Raleway"; "Sans serif";
    font-size : 1rem;
    curseur : pointeur;
}

.fa-recherche{
    affichage : none;
}

.searchfield{
    width : 14vw;
    border : 0;
    border-image : 0 1.15rem;
}

.searchfield::placeholder{
    font-size : 16px;
    font-weight : 700;
    color : #00000069;
}

.logements{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.aside{
    display: grid;
    grid-template-rows: auto repeat(3, 1fr);
    padding: 2rem;
    row-gap: 2rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
}