@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family : 'Raleway', Arial, Sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Raleway'; 
    src: url("/Fonts/Raleway-VariableFont_wght.ttf") format("ttf"); 
        }
   

   html{
       font-size: 100%;
   }

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 0;
    box-sizing: border-box;
}


.gridcontainer{
    width: 100%;
    max-width : 1240px;
    margin: 0rem;
    /* margin : auto; */
    /* padding : 0 2rem; */
}

.middle{
    grid-column: 2 !important;
}

header{
    margin-bottom: 20px;
}

/* #logo{
    width: 12%;
    margin-right: auto !important ;
} */

#logo{
    width: 20%;
    padding: 0rem;
}

.logocontainer{
    display: flex;
    /* position: absolute; */
    align-items: center;
    /* margin-left: 0;
    padding-left: 0; */
    /* padding-left: 1rem; */
}

main{
    max-width: 1240px;
}

.menu{
    display : grid;
    /* grid-template-columns: 60% auto auto auto; */
    grid-template-columns: 70% auto auto auto;
    text-align: left;
    justify-content: left;
}

.menu>a{
    display : flex;
    justify-content : right;
}

header a{
    flex-wrap: wrap;
    padding : 2.4vw 1.8vw 2.4vw 1.8vw;
    font-weight: 500;
    border-top: 2px solid white;
}

a:link, a:visited{
    justify-content: center;
    text-decoration : none;
    color: black;
}
header a:hover, header a:active{
    text-decoration : none;
    border-top : 2px solid #0065FC;
    color : #0065FC;
}


.searchbar {
    display : flex;
    /* border: solid rgba(red, green, blue, alpha) 0.05rem;
    height : 3rem;
    width : 20rem;
    font-size : 1,8rem;
    font-family: raleway; */
    margin : 30px 0 30px 0;
}

.fa-map-marker-alt{
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius : 1rem 0 0 1rem;
    text-align : center;
}

.login{
    color : #0065FC !important;
    padding-left: 1rem;
    /* font-weight: bold; */
}


.searchbutton{
    background-color : #0065FC;
    color : white;
    font-weight : bold;
    border : none;
    border-radius: 0 1rem 1rem 0;
    padding : 0 1.5rem;
    font-family:"Raleway", "Arial";
    font-size: 1rem;
    cursor: pointer;
}

.fa-search{
    display : none;
}

.searchfield{
    width : 14vw;
    border : none;
    padding : 0 1.5rem;
}

.searchfield::placeholder{
    font-size : 16px;
    font-weight : 900;
    color : #00000069;
}

i.fas{
    display: flex;
    align-items: center;
}

.searchbutton > i{
    display: none;
}

.filters{

    display: flex;
    flex-wrap: wrap;
    grid-gap: 2vw;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.containf{
    background-color: #DEEBFF;
    color: blue;
    border-radius: 100%;
    height: 3.25rem;
    width: 3rem;
    display: flex;
    align-items: center !important;
    justify-content: center;
    /* margin-right: 40px;
    padding-right: 40px;
    border: 2px solid #F2F2F2; */
}

.fas .fa{
    color: blue;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  color: #0065fc;
  font-size: 1.2em;
}

.f{
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    border: 2px solid #d9d9d9;
    /* width: 12%; */
}

.resultsearch{
    display: flex;
    margin: 1rem 0 2rem 0;
    align-items: center;
}

.resulticon{
    min-width: 2rem;
    min-height: 2rem;
    height: 2rem;
    width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.fa-info{
    color:#0065FC
}


.ftitle{
    margin: 0 1rem 0 1rem;
    font-weight: bold;
}


.flexaside{
    display: grid;
    grid-template-columns: 66% 33%;
    column-gap: 2rem;
    
}

.box>.imgcontainer{
    padding: 6px 6px 0 6px;
}

.setimg{
    object-fit: cover;
    object-position: center;
    height: 7vw;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    
}

.gridlog{
    display: grid;
    grid-template-rows: repeat(3, min-content);
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 1.5rem;
}


.logements{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.aside{
    display: grid;
    grid-template-rows: auto repeat(3,1fr);
    padding: 2rem;
    row-gap: 2rem;
    background-color: #f2f2f2;
    border-radius: 1.5rem;
}

.box{
    width: 100%;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 1.5rem;
    background-color: #F2F2F2;
}

.descricontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px;
}

.descricontainer>div>h3{
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.descricontainer>div>p{
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.descricontainer>div.starsrate{
    margin:  0px 10px 0px 10px;
    display: flex;
    color: #0065FC;
    padding: 0px 4px 0px 4px;
}

.box h3{
    margin: 2px 10px 5px 10px;
}

.box p{
    margin: 0px 10px 5px 10px;
    font-size: 18px;
}

.starsrate{
    margin: 0px 10px 5px 10px;
    display: flex;
    color: #0065FC;
    padding: 4px;
}
.starsrate>i{
    padding-right: 4px;
}
.asidebox{
    display: flex;
    border-radius: 1rem;
    background-color: white;
    padding: 6px;
    box-shadow: 0 0 16px #0000002e;
}

.asidegrid{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2rem;
}

.relativebox{
    position: relative;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
    height: 100%;
}

.asidesetimg{
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

.reltitle{
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    column-gap: 2rem;
}
  
.carteune { 
    grid-area: 1 / 1 / 7 / 2; 
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}
  
.cartedeux{ 
    grid-area: 1 / 2 / 4 / 3; 
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}
  
.cartetrois{ 
    grid-area: 5 / 2 / 7 / 3; 
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}
  
.cartequatre{ 
    grid-area: 1 / 3 / 7 / 4; 
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden; 
}
  
.cartecinq{ 
    grid-area: 1 / 4 / 3 / 5; 
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}

.cartesix{
    grid-area: 5/ 4 / 7 / 5;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}


.actimgcontainer{
    position: relative;
    flex: 1;
    overflow: hidden;
}

.actimg{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.titleact{
    margin: 1.2rem 1.5rem;
}
  
.footer{
    align-items: center;
    margin-top: 50px;
    padding: 2rem;
    font-family: "Raleway", "Sans serif";
    background-color: #f2f2f2;
}

.columncontainer{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 100%;
    width: 1440px;
}

.columnone, .columntwo, .columnthree{
    display: flex;
    flex-direction: column;
    width: 33%;
    row-gap: 0.75rem;
}

.footerlink{
    margin: 0;
}

a.footerlink:link, a.footerlink:active{
    text-decoration: none;
    color: black;
}

.false{
    color: #d9d9d9;
}

.box:hover, .asidebox:hover, .act:hover, .f:hover{

    transform: scale(1.04);
}

.box, .asidebox, .act, .f{
    transition-duration: 500ms;
}

@media (max-width: 1430px){ 


    .flexaside{
        grid-template-columns: auto;
        row-gap: 2rem;
    }

    .aside{
        padding: 0;
        grid-area: 1;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;

    }

    .aside>h2{
        grid-column: 1/-1;
    }

    .describox{
        margin-bottom: 2rem;
    }


}

@media (max-width: 1200px) {

    .subtitle, .searchbar, .filters, .resultsearch, .footer{
        padding-left: 2rem;
    }

    #firstT{
        padding: 2rem;
    }

    .h1{
        padding: 2rem;
        border-left: 2rem;
        padding-left: 2rem !important;
        margin: 2rem;
    }

    a:link, a:visited{
        justify-content: center;
        text-decoration : none;
        color: black;
    }


    /* .searchbar{
        padding: 0;
    }

    .h1{
        padding: 0;
    }

    .subtitle{
        padding: 0;
    } */

    .searchbutton{
        border-radius: 1rem;
        min-height: 64px;
    }

    /* .filters{
        padding: 0;
    }

    .resultsearch{
        padding: 0;
    }
 */

  
    .gridcontainer {
        max-width: 100%;
        padding: 0;
    }
    
    .gridlog{
        display: grid;
        grid-template-rows: repeat(3, min-content);
        padding: 2rem;
        background-color: #f2f2f2;
        border-radius: 1.5rem;
    }

    .flexaside{
        row-gap: 2rem;
    }

    .filtertitle{
        width: 100%;
    }

    .aside{
        display: grid;
        grid-template-rows: auto repeat(3, 1fr);
        grid-template-columns: auto;
        padding: 2rem;
        row-gap: 2rem;
        background-color: #f2f2f2;
        border-radius: 0;
    }

    .logements{
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: auto;
    }

    .setimg{
        height: 30vw;
    }

    .menu{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }

    .logocontainer{
        padding-left: 2rem;
        justify-content: left;
        width: 150%;
        /* width: 100%; */
    }

    .login{
        grid-area: 1/2;
    }

    header a{
        padding: 5vw;
    }

    .searchfield{
        width: 14rem;
    }

    i.fa-search{
        display: flex;
        align-items: center;
    }

    .switch{
        display: none;
    }

    .grid-container{
        /* padding : 2rem; */
        grid-template-columns: auto;
        grid-template-rows: repeat(6, 40vw);
        row-gap: 2rem;
    }

    .grid-container>*{
        grid-area: auto;
    }
    
    .columncontainer{
        flex-direction: column;
    }

    .columnone, .columntwo, .columnthree{
        width: 100%;
        margin-bottom: 20px;
    }

    header a:hover, header a:active{
        text-decoration: none;
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color:  #0065FC;
    }

    header a.login{
        justify-content: flex-end;
    }

    header a.nav{
        text-decoration: none;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
    }

    /* h1, .subtitle, .searchbar, .filters, .resultsearch, .footer{
        padding-left: 2rem;
    } */

    #activites{
        padding: 0 2rem;
    }

    .gridcontainer {
        max-width: 100%;
    }
    
    .gridlog{
        display: grid;
        grid-template-rows: repeat(3, min-content);
        padding: 2rem;
        background-color: white;
        border-radius: 1.5rem;
    }
    

    
    .footer{
        align-items: center;
        width: 100%;
    }}